#particles-js{
    background: rgb(0, 0, 197);
    height: 1000px;
}

.center {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.homeDiv {
    color: rgb(235, 233, 233);
    text-align: center;
}